extends layout

block styles
  link(rel="stylesheet" href="/stylesheets/chat.css")
  link(rel="stylesheet" href="/stylesheets/game.css")

block content
  .row.py-5
    h1 Game Lobby : #{name}
  
  .row
    .players-list.col
      .container
        .row
          .col-md-10
            .card.text-white.bg-dark.mb-3
              .card-header.text-center
                h5 Game Rules
              .card-body
                ol 
                  -var list = ["Give 1 Defuse card to each player. If 2-3 players, then only put 2 defuse cards back into the deck.", "Shuffle the deck and deal 7 cards to each player.", "Add in Exploding Kittens into the deck the number of cards should equal to the amount of people minus 1. The deck will then be shuffled; this will be the draw pile.","The first player can pass or play a card but in the end their turn by drawing a card from the top of the Draw pile.", "The player who doesn’t explode wins the game."]
                  each item in list
                    li.card-text.mb-4.mt-2= item
      h2 Players
      ul#players-list
        each player in players
          li
            img.user-icon(src=`https://www.gravatar.com/avatar/${player.hash}?s=30` alt=`${player.fullname}`)
            span= player.fullname

    .chat.col-6
      input#gameId(type="hidden" value=id)
      .row
        #messages

      .row
        .col-md-11
          input.form-control#message-box(type="text" name="message" placeholder="Enter your message")
        .col-md-1
          button#message-submit.btn.btn-primary(type="submit" value="Send") OK

block scripts
  script(src="/scripts/chat.js")
  script(src="/scripts/game-lobby.js")
